body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4; /* Light grey background */
}



button {
    margin-top: 10px; /* Space between paragraph and button */
    padding: 10px 15px;
    background-color: #3ccaab; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
h1 {
    text-align: center; /* Center the heading */
}

button:hover {
    background-color: #7ab3f0; /* Darker blue on hover */
}
